<footer class="uoc-footer">
  &copy; Universitat Oberta de Catalunya

  <div class="footer-content">
    <nav>
      <ul class="footer-list">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="participantes.html">Participantes</a></li>
        <li><a href="info.html">Información</a></li>
        <li><a href="extra.html">Extra</a></li>
      </ul>
    </nav>

    <div class="social-icons">
      <a href="#"><i class="fab fa-google"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer>
